body {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
}

#walk-button, #ride-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

#game-result {
  margin-top: 20px;
  font-size: 1.5em;
}

#image-container {
  margin-top: 20px;
  text-align: center;
}

#image-container img {
  width: 300px;
}
