/* Main Styles */
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 145, 234);
  font-family: 'Changa', sans-serif;
}

main {
  width: 60%;
  margin: auto;
}

h1, h2, strong {
  font-weight: 600;
}

a, a:link, a:visited, a:hover, a:active, a:focus {
  color: inherit;        /* Makes the link text color the same as its parent */
  text-decoration: none; /* Removes underline or other text decorations */
  background-color: transparent; /* Removes any background change on click */
  outline: none;         /* Removes the focus outline */
}

.mobile {
  display: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 800px) {
  main {
    width: 80%;
  }
}

@media only screen and (max-width: 393px) {
  main {
    width: 90%;
  }
}

/* Header */
header {
  position: fixed;
  height: 5rem;
  width: 100%;
  z-index: 2;
  background-color: rgb(234, 111, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  font-family: 'Space Mono', monospace;
}

#logo {
  padding-left: 1rem;
}

nav ul {
  list-style-type: none;
  padding-right: 1rem;
}

nav ul li {
  display: inline-block;
  margin-left: 1rem;
  white-space: nowrap;
}

@media only screen and (max-width: 800px) and (orientation: landscape) {
  header {
    height: 3rem;
  }
}

@media only screen and (max-width: 550px) {
  nav.desktop {
    display: none;
  }

  nav.mobile {
    display: block;
  }

  #logo {
    max-width: 30%;
  }

  nav img {
    height: 4rem;
    width: auto;
  }

  nav ul li {
    margin-left: 0.5rem;
  }

  .no-left-margin {
    margin-left: 0;
  }

  nav ul {
    padding-left: 0;
  }
}

@media only screen and (max-width: 365px) {
  header {
    height: 3rem;
  }

  nav img {
    height: 2.4rem;
  }
}

@media only screen and (orientation: landscape) {
  nav img {
    height: 2.4rem;
  }
}

/* About Me */
#about-me {
  position: relative;
  margin: auto;
  padding-top: 5rem;
  line-height: 1.6;
}

#about-me p {
  margin: 0 0 1rem;
}

#about-me img {
  width: 20%;
  height: auto;
  float: right;
  margin-left: 0.5rem;
  margin-bottom: 0.1rem;
  margin-top: 0.5rem;
}

@media only screen and (max-width: 800px) and (orientation: landscape) {
  #about-me {
    padding-top: 3rem;
  }
}

@media only screen and (max-width: 480px) {
  #about-me img {
    width: 40%;
    margin-left: 0.5rem;
    margin-bottom: 0.33rem;
  }

  #about-me {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 365px) {
  #about-me {
    padding-top: 3rem;
  }
}


/* Portfolio */
#portfolio {
  margin: auto;
}