/* Main Styles */
html {
  font-size: 16px;
}

body {
  background-color: rgb(0, 145, 234);
}

/* Header */
header {
  position: fixed;
  height: 5rem;
  border: 10 thick red;
  z-index: 2;
}

/* About Me */
#about-me {
  position: relative;
  top: 5rem;
}

#about-me img {
  float: right;
  width: 20%;
  height: auto;
}